* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: #000;
  background: url("../../assets/img/Natal-BG-Sorteio2.png");
  background-size: cover;

  height: 100vh;
  width: 100vw;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    to left,
    #00763a,
    #dec97b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #00763a,
    #dec97b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-radius: 25px;
  padding: 1%;

  max-width: 94%;
  width: 40%;
}

section article div {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

section article h5 {
  text-align: center;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  flex-direction: column;

  height: 100%;
}

.numero {
  color: #000;
  text-align: center;
  font-size: 5em;

  border-radius: 20px;

  min-width: 70px;
}
.numero1 {
  color: #000;
  text-align: center;

  font-size: 5em;

  border-radius: 20px;

  min-width: 70px;
  height: 100%;

  display: flex;
  justify-content: center;
  
}

.label {
  color: #000;
  text-align: center;
  font-size: 3.5em;

  border-radius: 20px;

  min-width: 70px;

  opacity: 1;
}

.numero-dado {
  color: #000;
  text-align: center;
  font-size: 7em;
  font-weight: bold;

  border-radius: 20px;

  min-width: 70px;

  animation: fadeIn normal 1.5s ease-in-out;
}

.label-dado {
  color: #000;
  text-align: center;
  font-size: 3.5em;

  border-radius: 20px;

  min-width: 70px;

  animation: fadeIn normal 1.5s ease-in-out;
}

.componente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  background-color: #fff;

  padding: 3px;

  margin: 5px;
  border-radius: 20px;
  transition: opacity 2s;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    color: rgba(0, 0, 0, 0);
  }

  50% {
    color: rgba(0, 0, 0, 0.5);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}
