* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: #000;
  background-color: #fff;

  height: 100vh;
  width: 100vw;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    to left,
    #816bae,
    #d4519c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #816bae,
    #d4519c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-radius: 25px;
  padding: 1%;

  max-width: 94%;
}

section article div {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

section article h5 {
  text-align: center;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  flex-direction: column;
}

.numero {
  color: #000;
  text-align: center;
  font-size: 5em;

  border-radius: 20px;

  min-width: 70px;
}

.label {
  color: #000;
  text-align: center;
  font-size: 3.5em;

  border-radius: 20px;

  min-width: 70px;

  opacity: 1;
}

.componente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ddd;

  padding: 3px;

  margin: 5px;
  border-radius: 20px;
  transition: opacity 2s;
}
